

<div class="side_nav">
  <h3 id="rate_others_head">Rate Others</h3>
</div>

<% @traits.each do |trait| %>
  <%= trait.name %>
<% end %>

<div class="rate_yourself">
  <h2 id="rate_yourself_head">First Rate Yourself!</h2>
  <a class="button_link" href="">Submit</a>
  <input type="range" class="range_att1">
  <input type="range" class="range_att2">
  <h3 id="att1_title">
    Rate Attribute 1:
  </h3>
  <h3 id="att2_title">
    Rate Attribute 2:
  </h3>
</div>
