.container{
  padding: 10%;
}

notice {
  color: green;
  font-size: 16px;
}

#filters{
  margin-top: 15%;
}

.right_gravitate{
  clear: none;
  display: inline-block;
  width: 40%;
  float: left;
}

.left_gravitate{
  clear: none;
  display: inline-block;
  width: 30%;
  margin-left: 18%;
  float: left;
}

body {
  font-family: 'Roboto', sans-serif;
  /*background-image:url("http://imgur.com/Dt3bNCJ.jpg");*/
  padding:10px;
}

.side_nav {
  background-color:grey;
  top:150px;
  height: auto;
  padding-bottom: 100px;
  margin-left: 10%;
  margin-right: 3%;
  margin-top: 3%;
  width:25%;
  float: left;
  left: 10px;
  border-radius: 10px;
  border: 3px solid black;
  overflow: auto; 
}

.left_nav {
  float: left;
  display: inline-block;
  margin-right: 50px;
}

#logo {
  height:70px;
  width:70px;
  position:relative;
  left:40px;
  top:15px;
}

.signup_form {
  position:relative;
  width:400px;
  height:430px;
  text-align:center;
  border: 3px solid black;
  padding-top:20px;
  background-color: #73838F;
  border-radius: 10px;
  margin: auto;
  top:250px;
}

.login_form {
  position:relative;
  width:400px;
  height:300px;
  text-align:center;
  border: 3px solid black;
  padding-top:20px;
  background-color: #73838F;
  border-radius: 10px;
  margin: auto;
  top:250px;
}

.rate_yourself {
  margin-top: 3%;
  width:55%;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 3px solid black;
  background-color: #73838F;
  border-radius: 10px;
  left:35%;
  top:150px;
  text-align: center;
  overflow: auto; 
}


header {
  background-color: #1E1E20;
  height:80px;
  padding-bottom:20px;
  width:100%;
  left:0;
  top:0;
}

#rate_others_head {
  text-align: center;
  font-size:25px;
}

#rate_yourself_head {
  text-align: center;
  font-size:25px;
}

a.nav_link {
  color:#62655d;
  font-size:30px;
  padding-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  font-size: 20px;
}

a.nav_link:hover {
  color:white;
}

ul {
  position:relative;
  float:right;
  padding-right:20px;
}

a {
  text-decoration: none;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  color:black;
}

a:hover {
  color:#62655d;
}

nav {
  color:#62655d;
  font-size:30px;
  padding-right: 40px;
  width: 100%;
}

#att1_title {
  top:40px;
  padding:10px;
  position:relative;
  left:50px;
}

#att2_title {
  padding:10px;
  top:60px;
  position:relative;
  left:50px;
}

.range_att1 {
  position:relative;
  width:270px;
  margin-left:60px;
}

button {
  text-decoration: none;
  text-align:center;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  background-color:#1f2f3f;
  color:white;
  border:1px solid black;
  border-radius: 5px;
  height:30px;
  font-size:10px;
  padding-left: 10px;
  position:relative;
  text-align:center;
  margin: 5px;
}

input[type=submit] {
  text-decoration: none;
  text-align:center;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  background-color:#1f2f3f;
  color:white;
  border:1px solid black;
  border-radius: 5px;
  height:30px;
  font-size:10px;
  padding-left: 10px;
  position:relative;
  text-align:center;
  margin: 5px;
}

.button_link {
  text-decoration: none;
  text-align:center;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  background-color:#1f2f3f;
  color:white;
  border:1px solid black;
  border-radius: 5px;
  height:30px;
  font-size:10px;
  padding-left: 10px;
  position:relative;
  text-align:center;
}

.button_link:hover {
  background-color:#465057;
  color:white;
}

#index {
  text-decoration: none;
  text-align:center;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  background-color:#1f2f3f;
  color:white;
  border:1px solid black;
  border-radius: 5px;
  width:90px;
  height:40px;
  font-size:10px;
  padding-left: 10px;
  position:relative;
  top:90px;
  left:275px;
}

#index:hover {
  background-color:#465057;
  color:white;
}

.users {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

#dot_data {
  text-align: center;
}


